<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<title>PostingsApp</title>
</head>
<body ng-app="postingsApp">
	<div class="container" ng-controller="postingsCtrl">

		<h1>Create a posting</h1>
		<input type="text" class="form-control" ng-model="postingContent"/>
		<button class="btn btn-default" ng-click="addPosting()">App Posting</button>

		<h1>Recents Posts:</h1>
		<ul class="list-group" ng-repeat="posting in postings">
			<li class="list-group-item">
				<strong>@{{posting.username}}</strong>
				<span>{{posting.content}}</span>
			</li>
		</ul>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script>
		// TODO: move angular code into its own file
		'use strict';

		var app = angular.module('postingsApp', []);

		app.controller('postingsCtrl', function($scope, $http) {

			var listPostings = function() {
				$http.get('http://localhost:3001/api/postings')
				.success(function(postings) {
					$scope.postings = postings;
				})
				.error(function(err) {
					console.log('error on listPostings(): ' + err);
				});
			};

			var addPosting = function() {
				var postingContent = $scope.postingContent; 
				if (postingContent) {
					var newPosting = { username: 'Poster', content: postingContent};
					if ($scope.postings) {
						$scope.postings.unshift(newPosting);
					} else {
						$scope.postings = [ newPosting ];
					}
				}
				$scope.postingContent = null;
			};

			$scope.listPostings = listPostings;
			$scope.addPosting = addPosting;

			listPostings();
		});
	</script>

</body>
</html>