<!DOCTYPE html>
<html>
<head>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/postings.css">
	<title>PostingsApp</title>
</head>
<body ng-app="postingsApp" ng-controller="AppCtrl">

	<nav class="navbar navbar-default">
		<div class="container">
			<ul class="nav navbar-nav">
				<li><a href="/#/">Postings</a></li>
				<li><a href="/#/register">Register</a></li>
				<li><a href="/#/login">Login</a></li>
			</ul>
			<p class="navbar-text navbar-right" ng-if="currentUser">
				Signed in as: {{currentUser.login}}
			</p>
		</div>
	</nav>

	<div ng-view><!-- herein the templates defined in routes.js get pasted --></div>

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script> -->
	<script src="/libs/angular.min.js"></script>
	<script src="/libs/angular-route.min.js"></script>
	<script src="/app.js"></script>

</body>
</html>