<!DOCTYPE html>
<html>
<head>
	<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<title>PostingsApp</title>
</head>
<body ng-app="postingsApp">
	<div class="container" ng-controller="postingsCtrl">

		<h1>Create a posting</h1>
		<input type="text" class="form-control" ng-model="postingContent"/>
		<button class="btn btn-default" ng-click="addPosting()">App Posting</button>

		<h1>Recents Posts:</h1>
		<ul class="list-group" ng-repeat="posting in postings | orderBy: '-date'">
			<li class="list-group-item">
				<strong>@{{posting.username}}</strong>
				<span>{{posting.content}}</span>
			</li>
		</ul>

	</div>

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script> -->
	<script src="/libs/angular.min.js"></script>
	<script src="/app.js"></script>

</body>
</html>